<div fxFill fxLayout="row">
    <div fxFlex>
        <div>
            <!-- {{searchId}} -->
            <mat-card style="margin: 10px 10px 10px 10px;" class="mat-elevation-z5">
                <table width="80%" style="margin: 0 auto;">
                    <tr>
                        <th style="background-color: lightgreen; font-weight: lighter;">
                            社員ID
                        </th>
                        <td align="left"><input name="employeeId" type="text" class="input" maxlength="5" [(ngModel)]="searchId"
                                oninput="value = value.replace(/[^0-9]+/i,'');"></td>
                        <th style="background-color: lightgreen; font-weight: lighter;">
                            社員名
                        </th>
                        <td align="left"><input name="employeeName" type="text" class="input" [(ngModel)]="searchName"></td>
                    </tr>
                    <tr>
                        <th style="background-color: lightgreen; font-weight: lighter;">
                            部署
                        </th>
                        <td align="left">

                            <select id="language" name="language" class="input">
                                <option disabled="disabled" selected [value]="">選択してください</option>
                                <option *ngFor="let department of departmentList" [value]="department.id">
                                    {{department.name}}</option>
                            </select>
                        </td>
                        <th style="background-color: lightgreen; font-weight: lighter;">
                            生年月日
                        </th>
                        <td align="left"><input type="date" class="input" [(ngModel)]="searchFromDate">~
                            <input type="date" class="input" [(ngModel)]="searchToDate">
                        </td>
                    </tr>
                </table>
                <div style="width: 400px; margin-left: auto; margin-bottom: 5px;">
                    <button mat-raised-button (click)="search()">
                        <mat-icon>search</mat-icon>検索
                    </button>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card style="margin: 10px" class="mat-elevation-z5">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="フィルター" #input>
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" matSort fxFlexFill>

                    <!-- 社員ID -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>社員ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
                        <!-- <th mat-footer-cell *matFooterCellDef>社員ID</th> -->
                    </ng-container>

                    <!-- 社員名 -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>社員名</th>
                        <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
                        <!-- <th mat-footer-cell *matFooterCellDef>社員名</th> -->
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                        style="background-color: lightgreen;">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns;"></tr> -->

                    <!-- Row shown when there is no matching data. -->
										<tr class="mat-row no-data-row" *matNoDataRow>
											<td class="mat-cell" colspan="4">データがありません</td>
										</tr>

                </table>
                <mat-paginator #paginator
                    [pageSizeOptions]="[10, 5, 10]"
                    aria-label="Select page of employees">
                </mat-paginator>
            </mat-card>
        </div>
        <div>
            <!-- <div><button mat-raised-button color="primary" (click)="search()">ほげほげ</button></div> -->
            <app-search-button></app-search-button>
            <!-- <app-search-button></app-search-button> -->
        </div>
    </div>
</div>